#Folders/Files start with Dot('.')
.*

#Dont ignore me
!.gitignore
!.gitattributes

#Odin Language Server Json
ols.json

#Windows Binaries 
*.exe
*.lib
*.dll
*.exp
*.pdb

!bgfx_*.lib

#Linux Binaries 
*.out
*.a
*.so
!bgfx_*.a