[submodule "jobs"]
	path = jobs
	url = https://github.com/jakubtomsu/jobs.git
[submodule "rp3d"]
	path = rp3d
	url = https://github.com/cristhofermarques/odin-reactphysics3d.git
[submodule "box2d"]
	path = box2d
	url = https://github.com/cristhofermarques/odin-box2d.git
