#Folders/Files start with Dot('.')
.*

#Dont ignore me
!.gitignore
!.gitattributes

#Odin Language Server Json
ols.json

#Windows Binaries 
*.exe
*.lib
*.dll
*.exp
*.pdb

!bgfx_windows_*.lib
!bx_windows_*.lib
!bimg_windows_*.lib
!bimg_encode_windows_*.lib
!bimg_decode_windows_*.lib

!shaderc_windows_*.exe
!geometryc_windows_*.exe
!geometryv_windows_*.exe
!texturec_windows_*.exe
!texturev_windows_*.exe

#Linux Binaries 
*.out
*.a
*.so
!bgfx_*.a